<body style="background: rgb(210,210,210);
             background: radial-gradient(circle, rgba(210,210,210,1) 00%, rgba(237,237,237,1) 100%);">
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand ml-2" href="/main">
      <img src="/electric-guitar.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Guitar Store
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/main">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/main#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/guitars">Guitars</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#top">Modelers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <%= name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/cart">Your cart</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/users/logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <br><br><br><br><br><br>
  <div class="container-fluid">
    <% products.forEach(amp => { %>
    <% if (amp.id > 100) { %>
    <div class="row justify-content-center" style="margin-top: 0;">
      <div class="col-md-8 text-center">
        <div class="card mt-1">
          <img src="<%= amp.photo %>" class="card-img-top mt-3 mx-auto" alt="..."
            style="max-width: 19rem; max-height: 13.5rem;">
          <div class="card-body">
            <div class="caption">
              <h5 class="card-title"><%= amp.name %></h5>
              <p class="card-text"><%= amp.description %></p>
              <div class="clearfix">
                <div class="price pull-left"><i class="fa fa-tag" aria-hidden="true"></i> <%= amp.price %> €</div>
                <a href="/add/<%= amp.id %>" class="btn btn-default pull-right" role="button"><i
                    class="fa fa-shopping-cart" aria-hidden="true"></i> Add to cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <% } %>
    <% }); %>
  </div>

  <nav class="navbar navbar-primary bg-light mt-5 justify-content-center">
    <a href="#top"><span class="navbar-text">
        Copyright © 2020 by Maks Guitar Store. No rights reserved.
      </span></a>
  </nav>
  </div>
</body>