<body style="background: rgb(210,210,210);
             background: radial-gradient(circle, rgba(210,210,210,1) 00%, rgba(237,237,237,1) 100%);">
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand ml-2" href="/main">
      <img src="/electric-guitar.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Guitar Store
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/main">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/main#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/guitars">Guitars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/amps">Modelers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <%= name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item active" href="#top">Your cart</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/users/logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <br><br><br><br><br><br>

  <div class="container-fluid">
    <div class="row justify-content-center mb-4">
      <h1>Shopping Cart</h1>
    </div>

    <% if (products) { %>
    <div class="container-fluid">
      <ul class="list-group list-group-flush">
        <% products.forEach(product => { %>
        <% if (product.item.id < 100) { %>
        <li class="list-group-item">
          <div class="row justify-content-center" style="margin-top: 0;">
            <div class="col-md-4 align-self-start">
              <img src="<%= product.item.photo %>" class="card-img-top mt-3 mx-auto" alt="..."
                style="max-width: 29.8rem; max-height: 11.84rem;">
            </div>
            <div class="col-md-4 align-self-center">
              <h5 class=""><%= product.item.name %></h5>
              <p class=""><%= product.item.description %></p>
            </div>
            <div class="col-md-4 align-self-end text-right mb-5">
              <div class="mr-4"><%= product.quantity %>x <i class="fa fa-tag" aria-hidden="true"></i>
                <%= product.item.price %> €
              </div>
              <a href="/remove/<%= product.item.id %>" class="btn btn-default"></i> Remove</a>
            </div>
          </div>
        </li>
        <br><br>
        <% } else { %>
        <li class="list-group-item">
          <div class="row justify-content-center" style="margin-top: 0;">
            <div class="col-md-4 align-self-start">
              <img src="<%= product.item.photo %>" class="card-img-top mt-3 mx-auto" alt="..."
                style="max-width: 19rem; max-height: 13.5rem;">
            </div>
            <div class="col-md-4 align-self-center">
              <h5 class=""><%= product.item.name %></h5>
              <p class=""><%= product.item.description %></p>
            </div>
            <div class="col-md-4 align-self-end text-right mb-5">
              
              <div class="mr-4"><%= product.quantity %>x <i class="fa fa-tag" aria-hidden="true"></i>
                <%= product.item.price %> €
              </div>
              <a href="/remove/<%= product.item.id %>" class="btn btn-default"></i> Remove</a>
            </div>
          </div>
        </li>
        <br><br>
        <% } %>

        <% }); %>
      </ul>
    </div>

    <div class="text-right mr-3">
      <strong>Total items: <%= totalItems %></strong>
      <br>
      <strong>Total price: <%= totalPrice %> €</strong>
    </div>
    <hr>
    <div class="text-right">
      <a href="/checkout" type="button" class="btn btn-success mr-3">Checkout</a>
    </div>
    <% } else { %>
    <div class="row mt-3 justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="card card-body">
          <img src="/electric-guitar.png" width="200" height="200" class="rounded mx-auto d-block" alt="">
          <br><br>
          <h1 class="text-center mb-3"> Your cart is empty</h1>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <br><br><br><br><br><br><br><br><br>
  <nav class="navbar navbar-primary bg-light mt-5 justify-content-center">
    <a href="#top"><span class="navbar-text">
        Copyright © 2020 by Maks Guitar Store. No rights reserved.
      </span></a>
  </nav>
  </div>
</body>