<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand ml-2" href="/main">
        <img src="/electric-guitar.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Guitar Store
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/main">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/main#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/guitars">Guitars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/amps">Modelers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <%= name %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/cart">Your cart</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/users/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<br><br><br>
<div class="row mt-2">
    <div class="col-md-6 col-lg-5 m-auto">
        <div class="card card-body text-center">
            <h1><img src="/electric-guitar.png" width="150" height="150" class="d-inline-block align-top" alt="">
            </h1>
            <h3>Finalize your order</h3>
            <%- include('./partials/messages.ejs'); %>
            <form action="/users/buy" method="POST">
                <fieldset>
                    <div class="form-group">
                        <ul class="list-group">
                            <% products.forEach(product => { %>
                            <li class="list-group-item">
                                <%= product.item.name %>
                                <div><%= product.quantity %>x <i class="fa fa-tag" aria-hidden="true"></i>
                                    <%= product.item.price %> €
                                </div>
                            </li>
                            <% }); %>
                            <li class="list-group-item">
                                <div>
                                    <strong>Total items: <%= totalItems %></strong>
                                    <br>
                                    <strong>Total price: <%= totalPrice %> €</strong>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <fieldset>
                            <label class="control-label" for="name">Name</label>
                            <input class="form-control text-center" name="name" id="name" type="text"
                                placeholder="<%= name %>" value="<%= name %>" required>
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <fieldset>
                            <label class="control-label" for="email">Email</label>
                            <input class="form-control text-center" name="email" id="email" type="text"
                                placeholder="<%= email %>" value="<%= email %>" required>
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <fieldset>
                            <label class="control-label" for="city">City</label>
                            <input class="form-control text-center" name="city" id="city" type="text"
                                placeholder="Your city" required>
                        </fieldset>
                        <fieldset>
                            <label class="control-label" for="address">Address</label>
                            <input class="form-control text-center" name="address" id="address" type="text"
                                placeholder="Your address" required>
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <label for="message">Other information</label>
                        <textarea class="form-control" id="message" name="message"
                            placeholder="Enter your message to our team" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Purchase</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<br>
<nav class="navbar navbar-primary bg-light mt-3 justify-content-center">
    <a href="#top"><span class="navbar-text">
            Copyright © 2020 by Maks Guitar Store. No rights reserved.
        </span></a>
</nav>